@font-face {
  font-family: "AeonikPro";
  src: url("/fonts/aeonikpro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "AeonikPro";
  src: url("/fonts/aeonikpro-medium.woff2") format("woff2");
}

@import "tailwindcss";

body {
  font-family: "AeonikPro", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
